<%= form_with model: [@conversation, @message], class: 'mt-3', data: { turbo: true } do |form| %>
  <% if @message.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h4>
      <ul>
        <% @message.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.text_area :content,
                       placeholder: "Type your message here...",
                       class: 'form-control',
                       rows: 1,
                       required: true,
                       onkeydown: "if(event.key==='Enter' && !event.shiftKey){event.preventDefault(); this.form.requestSubmit();}" %>
  </div>

  <div class="d-flex justify-content-end">
    <%= form.submit "Send", class: 'btn btn-main-custom' %>
  </div>
<% end %>
