<% unless @pending_requests.empty? %>
  <h5 class="app-container mx-auto mt-5">Pending requests</h5>
  <div class="app-container mx-auto mx-3 p-2 bg-white shadow">
    <table class="table table-hover">
      <tbody>
        <% @pending_requests.each do |request| %>
          <tr>
            <th scope="row"><%= request.user.full_name %></th>
            <td>
              <%= link_to "Accept",
                          accept_connection_path(request),
                          method: :patch,
                          class: "btn btn-sm btn-main-custom" %>
              <%= link_to "Delete",
                          connection_path(request),
                          method: :delete,
                          class: "btn btn-sm btn-secondary-custom" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
<h5 class="app-container mx-auto mt-5">Connections</h5>
<div class="app-container mx-auto mx-3 p-2 bg-white shadow">
  <% if @connections.empty? %>
    <p>You don't have any connections</p>
  <% else %>
      <table class="table table-hover">
        <tbody>
          <% @connections.each do |user| %>
            <% conversation = Conversation.between([current_user.id, user.id]) %>
            <tr>
              <th scope="row"><%= user.full_name %></th>
              <td>
                  <% if conversation %>
                    <%= link_to "Message",
                                conversation_path(conversation), 
                                class: "btn btn-sm btn-main-custom me-2" %>
                  <% else %>
                    <%= link_to "Message",
                                conversations_path(user_id: user.id),
                                method: :post,
                                class: "btn btn-sm btn-main-custom me-2" %>
                  <% end %>
                <%= link_to "Remove",
                            connection_path(current_user.connection_from(user)),
                            method: :delete,
                            data: { confirm: "Are you sure you want to remove #{user.full_name} from your connections?" },
                            class: "btn btn-sm btn-danger-custom" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>
</div>
