<%= turbo_frame_tag comment do %>
  <div name="comment_container">
    <div class="d-flex">
      <h6 class="me-2"><%= comment.user.full_name %></h5>
      <small><%= time_ago_in_words(comment.updated_at) %></small>
      <% if current_user == comment.user %>
        <div class="ms-auto">
          <%= link_to post_comment_path(comment.post, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete your comment?" } do %>
            <%= image_tag("icons8-remove-96.png", options = { class: "action-image-20", title: "Delete comment" }) %>
          <% end %>
        </div>
    <% end %>
    </div>
    <div class="ps-3 mb-4">
      <%= comment.content %>
    </div>
  </div>
<% end %>
