<% search_results.each do |user| %>
  <div class="my-3 p-3 bg-white shadow">
    <div class="d-flex">
      <h5 class="me-2"><%= user.full_name %></h5>
      <% if user != current_user %>
        <div class="ms-auto">
          <% if current_user.sent_a_request_to(user) %>
            <% connection = current_user.connections.where(connection: user, status: :pending).first %>
            <%= button_to "Cancel request", connection_path(connection), method: :delete, class: "btn btn-sm btn-main-custom" %>
          <% elsif current_user.has_a_pending_request_from(user) %>
              <% connection = current_user.connected_users.where(user: user, status: :pending).first %>
              <div class="d-flex gap-2">
                <%= button_to "Accept", accept_connection_path(connection), method: :patch, class: "btn btn-sm btn-main-custom" %>
                <%= button_to "Delete", connection_path(connection), method: :delete, class: "btn btn-sm btn-secondary-custom" %>
              </div>
          <% elsif current_user.is_a_connection_with(user) %>
            <% connection = current_user.connections.where(connection: user, status: :accepted).first || current_user.connected_users.where(user: user, status: :accepted).first %>
            <%= button_to "Remove connection", connection_path(connection), method: :delete, class: "btn btn-sm btn-main-custom" %>
          <% else %>
            <%= button_to "Connect", connections_path(user_id: user), method: :post, class: "btn btn-sm btn-main-custom" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-flex">
      <small>
        <%= pluralize(user.likes.count, 'like') %>,
        <%= pluralize(user.comments.count, 'comment') %>
      </small>
    </div>
  </div>
<% end %>
