<% search_results.each do |user| %>
  <div class="my-3 p-3 bg-white shadow">
    <div class="d-flex">
      <h5 class="me-2"><%= user.full_name %></h5>
      <% if user != current_user %>
        <div class="ms-auto">
          <% if not(current_user.connections.where(connection: user, status: :pending).empty?) %>
            <% connection = current_user.connections.where(connection: user, status: :pending).first %>
            <%= button_to "Cancel request", connection_path(connection), method: :delete, class: "btn btn-sm btn-main-custom" %>
          <% elsif not(current_user.connections.where(connection: user, status: :accepted).empty?) %>
            <% connection = current_user.connections.where(connection: user, status: :accepted).first %>
            <%= button_to "Remove connection", connection_path(connection), method: :delete, class: "btn btn-sm btn-main-custom" %>
          <% else %>
            <%= button_to "Connect", connections_path(user_id: user), method: :post, class: "btn btn-sm btn-main-custom" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="d-flex">
      <small>
        <%= pluralize(user.likes.count, 'like') %>,
        <%= pluralize(user.comments.count, 'comment') %>
      </small>
    </div>
  </div>
<% end %>
