<% @all_posts.each do |post| %>
  <% if post.class.name == "Post" %>
    <% if current_user == post.user || post.everyone? || (current_user.is_a_connection_with(post.user) && post.connections?) %>
      <div class="my-3 p-3 bg-white shadow">
        <div class="d-flex">
          <h5 class="me-2"><%= post.user.full_name %></h5>
          <small><%= time_ago_in_words(post.updated_at) %></small>
          <% if current_user == post.user %>
            <div class="ms-auto">
              <%= link_to edit_post_path(post), title: "Edit post" do %>
                <%= image_tag("icons8-pencil-64.png", options = { class: "action-image" }) %>
              <% end %>
              <%= link_to post_path(post), title: "Delete post", method: :delete, data: { confirm: "Are you sure you want to delete your post?" } do %>
                <%= image_tag("icons8-remove-96.png", options = { class: "action-image" }) %>
              <% end %>
            </div>
          <% end %>
        </div>
        <p class="content mt-3 mb-3"><%= simple_format(post.content) %><p>
        <% like = current_user.likes.find_by(post: post) %>
        <div id="count-post-<%= post.id %>" class="<%= 'd-none' if post.likes.count == 0 %> pt-3 text-secondary"><small><i>
          <%= pluralize(post.likes.count, 'like') %>
        </i></small></div>
        <hr/>
        <div class="d-flex gap-3">
          <%= button_to "Like",
                        likes_path,
                        data: {action: "click->likes#toggle" },
                        params: { like: { post_id: post.id, post_type: post.class.name } },
                        class: "btn btn-sm #{like.nil? ? 'btn-secondary-custom' : 'btn-main-custom'}" %>
          <%= link_to "Comment",
                      post_path(post),
                      class: "btn btn-sm btn-secondary-custom" %>
          <% if current_user != post.user %>
            <%= button_to "Share",
                          shared_posts_path(post_id: post.id, user_id: current_user.id),
                          data: { confirm: "Share post?" },
                          class: "btn btn-sm btn-secondary-custom" %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="my-3 p-3 bg-white shadow">
      <div class="d-flex">
        <h5 class="me-2"><%= post.user.full_name %></h5>
        <small><%= time_ago_in_words(post.updated_at) %></small>
        <% if current_user == post.user %>
          <div class="ms-auto">
            <%= link_to shared_post_path(post), title: "Delete post", method: :delete, data: { confirm: "Are you sure you want to delete your post?" } do %>
              <%= image_tag("icons8-remove-96.png", options = { class: "action-image" }) %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="my-3 p-3 bg-white shadow">
        <h5 class="me-2"><%= post.post.user.full_name %></h5>
        <p class="content mt-3 mb-3"><%= simple_format(post.post.content) %><p>
      </div>
      <% like = current_user.likes.find_by(post: post) %>
      <div id="count-shared-post-<%= post.id %>" class="<%= 'd-none' if post.likes.count == 0 %> pt-3 text-secondary"><small><i>
        <%= pluralize(post.likes.count, 'like') %>
      </i></small></div>
      <hr/>
      <div class="d-flex gap-3">
        <%= button_to "Like",
                      likes_path,
                      data: {action: "click->likes#toggle" },
                      params: { like: { post_id: post.id, post_type: post.class.name } },
                      class: "btn btn-sm #{like.nil? ? 'btn-secondary-custom' : 'btn-main-custom'}" %>
        <%= link_to "Comment",
                    shared_post_path(post),
                    class: "btn btn-sm btn-secondary-custom" %>
      </div>
    </div>
  <% end %>
<% end %>
