<%= content_tag :div, class: "my-3 p-3 bg-white shadow" do %>
  <div class="d-flex">
    <h5 class="me-2"><%= @post.user.full_name %></h5>
    <small><%= time_ago_in_words(@post.updated_at) %></small>
    <% if current_user == post.user %>
      <div class="ms-auto">
        <%= link_to edit_post_path(post) do %>
            <%= image_tag("icons8-pencil-64.png", options = {class: "action-image"}) %>
        <% end %>
        <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete your post?" } do %>
          <%= image_tag("icons8-remove-96.png", options = {class: "action-image"}) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <p class="content mt-3"><%= simple_format(post.content) %><p>
  <hr />
  <div class="d-flex justify-content-between ">
    <%= button_to "Like",
        likes_path(@post),
        class: "w-50 text-center btn btn-sm btn-secondary-custom" %>
    <%= link_to "Comment",
        '#',
        class: "w-50 text-center btn btn-sm btn-secondary-custom" %>
  </div>
<% end %>
