<%= content_tag :div, class: "feed-container my-3 p-3 bg-white shadow mx-auto posts-container-height" do %>
  <div class="d-flex">
    <h5 class="me-2"><%= @post.user.full_name %></h5>
    <small><%= time_ago_in_words(@post.updated_at) %></small>
    <% if current_user == post.user %>
      <div class="ms-auto">
        <%= link_to edit_post_path(post) do %>
            <%= image_tag("icons8-pencil-64.png", options = {class: "action-image"}) %>
        <% end %>
        <%= link_to post_path(post), method: :delete, data: { confirm: "Are you sure you want to delete your post?" } do %>
          <%= image_tag("icons8-remove-96.png", options = {class: "action-image"}) %>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= @post.content %>
<% end %>
